[Unit]
Description=Renew Let's Encrypt certificates with Certbot

[Service]
Type=oneshot
ExecStart=/usr/local/bin/certbot renew --quiet --deploy-hook "/usr/bin/systemctl reload nginx"

